<div class="conteiner">
    <div class="img_conteiner">
        <div class="text_conteiner">
            <div class="card_title">
                <h1 >{{data.musica.name}}</h1>
            </div>
            <p class="card_text">Atista:<br><br>{{data.musica.artista}}<br><br><br></p>
            <p class="card_text">Album:<br><br>{{data.musica.album}}<br><br><br></p>
            <p class="card_text">Fecha de lanzamiento:<br><br>{{data.musica.fecha_lanzamiento}}<br><br><br></p>
            <p class="card_text">Genero:<br><br>{{data.musica.genero}}<br><br><br></p>
        </div>
        <a href="{{data.musica.link_musica}}">
            <img src="{{data.musica.link_foto_detail}}" alt="">
            <p>Escuchar musica</p>
        </a>
    </div>
</div>