<div class="conteiner">
    <div class="img_conteiner">
        <div class="text_conteiner">
            <div class="card_title">
                <h1 >{{data.artista.name}}</h1>
            </div>
            <p class="card_text">Edad:<br>{{data.artista.edad}} años<br><br></p>
            <p class="card_text">Estatura:<br>{{data.artista.Estatura}}<br><br></p>
            <p class="card_text">Fecha de nacimiento:<br>{{data.artista.Nacimiento}}<br><br></p>
            <p class="card_text">Fecha de fallecimiento:<br>{{data.artista.Fallecimiento}}<br><br></p>
        </div>
        <img src="{{data.artista.link_foto_detail}}" alt="">
    </div>
</div>