<div class="conteiner">
    <div class="img_conteiner">
        <div class="text_conteiner">
            <div class="card_title">
                <h1 >{{data.serie.name}}:</h1>
            </div>
            <p class="card_text">Sinopsis:<br><br>{{data.serie.sinopsis}}<br><br></p>
            <p class="card_text">Personajes:<br><br>{{data.serie.personajes}}.</p>
        </div>
        <a href="{{data.serie.link_video_trailer}}">
            <img src="{{data.serie.link_foto_detail}}" alt="">
            <p>ver trailer</p>
        </a>
    </div>
</div>