<div class="conteiner inicio">
    <div class="card_title">
        <svg style="margin-top: -16px" MAR="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-angular" width="54" height="54" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F8FCDA" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5.428 17.245l6.076 3.471a1 1 0 0 0 .992 0l6.076 -3.471a1 1 0 0 0 .495 -.734l1.323 -9.704a1 1 0 0 0 -.658 -1.078l-7.4 -2.612a1 1 0 0 0 -.665 0l-7.399 2.613a1 1 0 0 0 -.658 1.078l1.323 9.704a1 1 0 0 0 .495 .734z" />
            <path d="M9 15l3 -8l3 8" />
            <path d="M10 13h4" />
        </svg>
        <h1>Portafolio</h1>
        <svg style="margin-top: -16px" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-angular" width="54" height="54" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F8FCDA" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5.428 17.245l6.076 3.471a1 1 0 0 0 .992 0l6.076 -3.471a1 1 0 0 0 .495 -.734l1.323 -9.704a1 1 0 0 0 -.658 -1.078l-7.4 -2.612a1 1 0 0 0 -.665 0l-7.399 2.613a1 1 0 0 0 -.658 1.078l1.323 9.704a1 1 0 0 0 .495 .734z" />
            <path d="M9 15l3 -8l3 8" />
            <path d="M10 13h4" />
        </svg>
    </div>

    <div class="contenido_conteiner">
        <div class="card_text">
            <p>¡Bienvenido a mi portafolio! Soy José Manuel de 5to cuatrimestre, y estoy emocionado de presentarte mi colección de intereses, gustos y pasiones a través de este proyecto desarrollado en Angular.<br><br>

                En este espacio digital, te invito a explorar mi mundo a través de cuatro categorías principales: hobbies, comidas, artistas y series. Cada sección está diseñada para ofrecerte una experiencia única, donde podrás descubrir lo que me apasiona y lo que me inspira.<br><br>

                En la sección de hobbies, encontrarás una variedad de actividades que llenan mi vida de diversión y creatividad.<br><br>
                
                ¿Eres un amante de la comida? ¡Entonces te encantará explorar mi sección de comidas! Desde platos exóticos hasta recetas caseras reconfortantes, te llevaré en un viaje culinario lleno de sabores y experiencias gastronómicas.<br><br>
                
                Sumérgete en el mundo del arte a través de mi sección de artistas. Desde pintores contemporáneos hasta músicos clásicos, aquí encontrarás las obras que han dejado una huella en mi corazón y mi mente.<br><br>
                
                Por último, en la sección de series, te llevaré a un viaje a través de mi universo televisivo. Desde dramas emocionantes hasta comedias hilarantes, encontrarás recomendaciones, críticas y reflexiones sobre las series que han capturado mi atención.</p>
        </div>
        <img class="imagen" src=".\assets\foto perfil.jpg" alt="">
    </div>
</div>    